.markdown h3 {
  font-size: 1.25em;
  font-weight: 600;
  margin-top: 24px;
  margin-bottom: 12px;
}

.markdown ul li {
  margin-left: 1em;
  list-style-type: disc;
  margin-top: 0.25em;
}

.markdown p {
  font-style: italic;
  margin-top: 0.25em;
}

.markdown code {
  background-color: rgba(31, 41, 55);
  padding: 3px 6px;
  font-size: 85%;
  border-radius: 6px;
}
